WORKSPACE_NAME=gnusdao-website

SOCKET_CLI_API_TOKEN=

ETHERSCAN_API_KEY=

TEST_PRIVATE_KEY=
# USED AS THE DEFAULT FOR MULTICHAIN FORKS
HH_CHAIN_ID=31337

DIAMOND_NAME=GNUSDAODiamond

DIAMOND_CONFIG_PATH=diamonds/GNUSDAODiamond/gnusdaodiamond.config.json

# Deployment paths
DEPLOYMENTS_PATH=diamonds
CONTRACTS_PATH=contracts