[submodule "contracts/gnus-dao"]
	path = contracts/gnus-dao
	url = git@github.com:GeniusVentures/gnus-dao-contracts.git
[submodule "diamonds/GNUS-DAO-Website"]
	path = diamonds/GNUS-DAO-Website
	url = git@github.com:GeniusVentures/gnus-dao-deployments.git
[submodule "diamonds/GNUSDAODiamond"]
	path = diamonds/GNUSDAODiamond
	url = git@github.com:GeniusVentures/gnus-dao-deployments.git
[submodule ".devcontainer"]
	path = .devcontainer
	url = https://github.com/GeniusVentures/diamonds-devcontainer.git
